body {
	display: flex;
	flex-direction: column;
	background-color: #C61111;

}

main {
	display: flex;
	flex-direction: row;
	flex: auto;

}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A61A06;
}

li {
	float: left;
	
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: cursive;
  /*margin-right: -3%;*/
}

li a:hover:not(.active) {
  background-color: #052A8C;
}

.active {
  background-color: #021D65;
}


.content {
    padding: 10px 0 0 0;
    box-shadow: 0px -10px 25px 5px #051EEE;
    background-color: white;
}

h1,h2,h3,em{
	color: #021D65;
}

.justify-cont-around {
    justify-content: space-around;
}

.d-flex {
    display: flex;
}

.w-300 {
    width: 300px;
}

footer { 

	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021D65;
    color: white;
    font-size: 20px;
    padding-top: 25px;

}

footer>a {
    color: white;

}

table {
  font-family: cursive;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
 font-family: cursive;
 color: white;
}

td {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
 font-family: cursive;
 color: white;
}

#tr1 {
  background-color: #A61A06;
}

#tr2 {
  background-color: #021D65;
}

